#newItem{
	width: 400px;
}
.items{
	display: block;
	width: 400px;
	border: 1px solid black;
	background-color: #F6F6F6;
	padding: 5px;
	margin: 3px;
}
.checkBox{
	float: right;
}
ul{
	list-style: none;
}
.completed{
    color: red;
    font-style: italic;
	text-decoration: line-through;
	display: block;
	width: 400px;
	border: 1px solid dashed;
	background-color: #ffffff;
	padding: 5px;
	margin: 3px;
}
#alert{
  color: red;
  display: none;
  border: 1px solid red;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  
}
